:root{
    margin-top:5%;
    margin-left:5%;
}
.svg1{
    background-color:lightblue;
}
.svg2{
    background-color:lightcoral;
}
.svg2 circle:hover{
    fill:white;
}
.svg3{
    background-color:lightgray;
}
.svg4{
    background-color:lightyellow;
}
.svg5{
    background-color:blueviolet;
}
.stick{
    stroke: lightgrey;
}
.ferry-wand{
    background-color:palegoldenrod;
}
.ferry-wand:hover .star{
    fill: yellow;
}
.magic{
    transition: transform 4s ease;
    transform-origin: 30px 30px;
}
.ferry-wand2{
    background-color:azure;
}
.ferry-wand2:hover .magic{
    transform: rotate(3turn);
}
.svg6{
    background-color:lightskyblue;
}
.dots{
    transition:transform 2s;
}
.svg6:hover .dots{
    transform:translateX(100%);
}
.dup-bubbles{
    transform-origin: 30px 30px;
    transform: rotate(45deg);
  }